[Unit]
Description=Convention Master API
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=ubuntu
WorkingDirectory=/opt/convention-master-api
ExecStart=/usr/bin/node /opt/convention-master-api/server.js
Restart=always

[Install]
WantedBy=multi-user.target
